[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "rm -rf node_modules || true",
  "npm ci --include=optional"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node build/index.js"
